<?xml version="1.0" encoding="utf-8"?>
<!-- QA-only: exports screens for adb screenshots; delete before release (plan P10) -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name=".LanguageSelectionActivity"
            android:exported="true"
            tools:replace="android:exported" />
        <activity
            android:name=".PhoneAuthActivity"
            android:exported="true"
            tools:replace="android:exported" />
        <activity
            android:name=".OtpVerificationActivity"
            android:exported="true"
            tools:replace="android:exported" />
        <activity
            android:name=".SignUpNameActivity"
            android:exported="true"
            tools:replace="android:exported" />
        <activity
            android:name=".SubscriptionActivity"
            android:exported="true"
            tools:replace="android:exported" />
        <activity
            android:name=".CreateRingtoneActivity"
            android:exported="true"
            tools:replace="android:exported" />
        <activity
            android:name=".ChooseSongActivity"
            android:exported="true"
            tools:replace="android:exported" />
        <activity
            android:name=".RingtoneReadyActivity"
            android:exported="true"
            tools:replace="android:exported" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true"
            tools:replace="android:exported" />
        <activity
            android:name=".Home"
            android:exported="true"
            tools:replace="android:exported" />
        <activity
            android:name=".MembershipWelcomeActivity"
            android:exported="true"
            tools:replace="android:exported" />
    </application>
</manifest>
